# Jakob Maier
IndentWidth: 2
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: Consecutive
AlignEscapedNewlines: Left
AlignTrailingComments: Always
AlignOperands: Align
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakAfterReturnType: None
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakBeforeBinaryOperators: All
BreakInheritanceList: BeforeComma
ColumnLimit: 120
CompactNamespaces: false
EmptyLineBeforeAccessModifier: Always
FixNamespaceComments: true
IndentAccessModifiers: false
IndentCaseBlocks: true
IndentCaseLabels: true
NamespaceIndentation: None
PointerAlignment: Middle
QualifierAlignment: Left
ReferenceAlignment: Middle
AlwaysBreakTemplateDeclarations: Yes
UseTab: Never
SpaceAfterCStyleCast: true
SpaceAroundPointerQualifiers: Both
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: Never
SpacesInParens: Custom
SpacesInParensOptions:
  InConditionalStatements: true
  InCStyleCasts: true
  Other: true